@import '../../common/css/coral/_coral-fluid-mixins.scss';
@import '../../common/css/_regular-mixins.scss';

@keyframes showTab {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

section.regions-section {
	br {
		display: none;
	}

	> article .contenu {
		picture.poster {
			border-radius: 20px;
			overflow: hidden;

			img {
				display: block;
			}
		}

		.regions-list {
			list-style: none;
			margin: 0;
			display: flex;
			flex-direction: column;
			gap: 1.5em;

			.region-item {
				position: relative;
			}
		}

		.tabs {
			margin-top: 1.5em;
			&__navigation {
				display: flex;
				gap: 1.5em;
				margin-bottom: 1.5em;
				width: 100%;
				border-radius: var(--radius-borderRadiusLG, 16px);
				background: var(--colorBorderBg, #fff);
				box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.08),
					0px 3px 6px -4px rgba(0, 0, 0, 0.12),
					0px 9px 28px 8px rgba(0, 0, 0, 0.05);
				overflow-x: scroll;
				padding: 8px;
				scroll-snap-type: x mandatory;
			}

			.tab-navigation-btn {
				border: none;
				font-size: 0.8em;
				color: #000;
				cursor: pointer;
				background: transparent;
				border-radius: 16px;
				transition: all 500ms ease;
				flex: 1;

				scroll-snap-align: start;

				@media (max-width: 768px) {
					font-size: 1.25em;
				}

				@include fontAndProperty(16px, padding-block, 12px);
				@include fontAndProperty(16px, padding-inline, 24px);
			}

			.tab-navigation-btn.js-active {
				background: var(--color_Tabs_Bg_Active, #0092cf);
				color: #fff;
			}

			.content-panel {
				display: flex;
				flex-direction: column;
				gap: 1.5em;

				> div {
					display: flex;
					flex-direction: column;
					gap: 1.5em;
					animation: showTab 500ms ease-in-out;
				}

				ul.benefits-list {
					@include flex-grid(1em, 5, center);
					.benefits-item {
						display: flex;
						gap: 1em;
						align-items: center;
						.icon {
							flex-shrink: 0;
							@include property(width, 64px);
							@include property(height, 64px);

							img {
								object-fit: contain;
							}
						}
					}
				}

				ul.card-grid {
					--elements: 3;
					list-style: none;
					margin: 0;
					@include flex-grid(1em, var(--elements), center);

					.card-item {
						display: flex;
						flex-direction: column;

						.picture {
							border-radius: 1.25em;
							overflow: hidden;
							min-height: 240px;
							margin-bottom: 1.5em;
						}

						h3 {
							margin-bottom: 14px;
						}
					}
				}
			}

			.content-panel.js-hidden {
				display: none;
			}
		}
	}
}
